{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title> {{ title }} </title>
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "js/jquery.cookie.js" %}"></script>
		<script src="{% static "js/lab6.js" %}"></script>

	</head>
	<body>
		{% if user.is_authenticated %}
			<a href="{% url 'logout' %}">Salir del sistema</a><br />
			<h1>{{ title }}</h1>
			<ul>		
				<li><a href="items">Items</a></li>		
				<li><a href="categories">Categorias</a></li>
				<li><a href="about">About</a></li>
				<li><a href="items/add/">Adicionar item</a></li>
				<li><a href="{% url 'add-category' %}">Adicionar categoria</a></li>
			</ul>
		{% else %}
			<a href="{% url 'register' %}">Registrarse</a>
			<a href="{% url 'login' %}">Ingresar al sistema</a>
		{% endif %}
	</body>
</html>