{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title> {{ title }} </title>
		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "js/jquery.cookie.js" %}"></script>
		<script src="{% static "js/lab6.js" %}"></script>
	</head>
	<body>
		<h1>{{ title }}</h1>
		<ul>
			<li>Nombre: {{ item.name }}</li>
			<li>Categoria: {{ item.category.name }}</li>
			<li>Listado: {{ item.get_listing_display }}</li>
			<li>Departamento: {{ item.department }}</li>
			<li>Creado: {{ item.posted_on|date }}</li>
		</ul>
		<h2>Descripción</h2>
		<p>{{ item.description|linebreaksbr}}</p>

		<a href="{% url 'index' %}">Inicio</a>	
		<a href="{% url 'lista-item' %}">Lista items</a>
		<br>
		<a href="#" id="getAllItems">Traer el resto de items a través de ajax con django</a>
		<div id="resultAllItems"></div>	
	</body>
</html>