//Definiendo variables

$color_h : #333;
$font_family_h: Helvetica, Arial, sans-serif;
$font_weight_h: bold;
$background-color: #3a3f43;
$border_bottom: 14px;
$padding: 22px 0;
$background_color_logo: #515558;
$margin: 0 auto;
$padding_logo: 5px 0;
$text-align: center;
$width: 250px;
$color: #fff;
$font-weight: normal;
$font-family: Arial, sans-serif;
$margin-bottom: 0;
$display: none;
$cursor: pointer;
$display_label: inline-block;
$padding_label: 5px;
$display_varios: block;
$margin-top: 20px;
$width_portafolio: 240px;
$position: relative;
$overflow: hidden;
$max-width: 100%;
$position_portafolio: absolute;
$background-color-portafolio: rgba(58, 63, 67, .8);
$padding-portafolio: 10%;
$font-size: 0.9em;
$border-top: 1px solid #ccc;
$margin-top-footer: 28px;
$paddingfooter: 28px 0;
$width-p: 25%;
$margin-bottom-p: 15px;
$content: attr(data-category);
$font-size-p: 1em;
$padding-p: 8px;
$text-transform: capitalize;
$background-color-p: rgba(42, 47, 51, 0.8);
$opacity: 1;
$background-color-p-f: #2a2f33;
$margin-top-f: 42px;
$width-only: 50%;
		